html, body {
  border: 0;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #f4f4f4;
  background: #3e3e40;
  font-size: 2vw;
  padding: 5vmin;
}
form {
  margin: 10px;
  font-size: 0.75em;
  color: #f66;
}
select#group {
  appearance: none;
  background: #48484a;
  margin: 0 1em;
  padding: 0.1em 0.25em;
  border: 0;
}
select#group, select#group option {
  color: #ccc;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5vw;
}
