<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta charset="UTF-8">
  <title>System Stats</title>
  <link rel="stylesheet" href="index.css">
  <script src="highstock-standalone-framework.js"></script>
  <script src="angular.js"></script>
  <script src="highstock.js"></script>
  <script src="index.js"></script>
</head>
<body layout="column">
  <main layout="column" layout-fill ng-controller="GroupCtrl">
    <form>
      <label for="group1">Statistical data group: </label>
      <select id="group1" ng-model="groupIndex1">
        <option ng-repeat="group in groups" value="{{ $index }}">{{ group.name }}
      </select>
    </form>
    <chart id="chart" group="{{ groupIndex1 }}"></chart>
    <form>
      <label for="group2">Statistical data group: </label>
      <select id="group2" ng-model="groupIndex2">
        <option ng-repeat="group in groups" value="{{ $index }}">{{ group.name }}
      </select>
    </form>
    <chart id="chart" group="{{ groupIndex2 }}"></chart>
  </main>
</body>
</html>
